<div class="mis-header-wrap">
    <div class="mis-logo">管理系统</div>
    <ul class="mis-nav">
    	<li><a href="/bigorder" class="<% if(activeTab == 'bigorder'){%>active<%}%>">大订单管理</a></li>
        <li><a href="/user" class="<% if(activeTab == 'user'){%>active<%}%>">客户管理</a></li>
        <li><a href="/order" class="<% if(activeTab == 'order'){%>active<%}%>">子订单管理</a></li>
        <li><a href="/product" class="<% if(activeTab == 'product'){%>active<%}%>">商品管理</a></li>
    </ul>
</div>