<!DOCTYPE html>
<html>
    <head>
        <title>管理系统</title>
        <link rel='stylesheet' href='/css/index.min.css' />
    </head>
    <body>
        <% include header.ejs %>
        <div class="index-content-wrap">
            
        </div>
    </body>
</html>
