<!DOCTYPE html>
<html>
    <head>
        <title>管理系统</title>
        <link rel='stylesheet' href='/css/product.min.css' />
    </head>
    <body>
        <% include header.ejs %>
        <div class="product-content-wrap">
            <div class="product-menu-wrap">
            	<div class="product-menu-show">查看客户</div>
            	<div class="product-menu-add">添加客户</div>
            </div>
            <ul class="product-list">
            	<%for(var i = 0; i < userData.length; i++){%>
            	<li class="product-img user-item">
            		<p class="product-name">姓名：<%= userData[i].name%></p>
            		<p class="product-name">电话：<%= userData[i].tel%></p>
            		<p class="product-name">地址：<%= userData[i].address%></p>
            		<p class="product-name">订单：<%= userData[i].orders%></p>
            	</li>
            	<%}%>
            </ul>
            <div class="product-add-wrap hide">
            	<form action="/user/add" method="post">
            		<label>姓名:</label>
            		<input type="text" required name="name"/>
            		<br>
            		<label>电话:</label>
            		<input type="text" required name="tel" />
            		<br>
            		<label>地址:</label>
            		<input type="text" required name="address" />
            		<br>
            		<button type="submit">提交</button>
            	</form>
            </div>
        </div>
        <script type="text/javascript" src="/javascripts/jquery-1.12.1.min.js"></script>
        <script type="text/javascript">
        	$('.product-menu-show').click(function(){
        		$('.product-list').show();
        		$('.product-add-wrap').hide();
        	});
        	$('.product-menu-add').click(function(){
        		$('.product-list').hide();
        		$('.product-add-wrap').show();
        	});
        </script>
    </body>
</html>
