.mis-header-wrap{
    position: relative;
    width: 100%;
    height: 67px;
    border-bottom: 1px solid #ccc;
}
.mis-header-wrap .mis-nav{
    width: 500px;
    margin: 0 auto;
    height: 67px;
    text-align: center;
    overflow: hidden;
}
.mis-header-wrap .mis-nav li{
    width: 100px;
    height: 67px;
    text-align: center;
    float: right;
    line-height: 67px;
    color: #999;
    font-size: 16px;
}
.mis-header-wrap .mis-nav li a{
    color: #999;
}
.mis-header-wrap .mis-nav li .active{
    color: #26a9e1;
}
.mis-header-wrap .mis-logo{
    position: absolute;
    left: 20px;
    width: 90px;
    height: 67px;
    line-height: 67px;
    color: #26a9e1;
    text-align: center;
    font-size: 18px;
}